{% extends "index.html" %}

{% block content %}

<style>
    h1 {
        display: flex;
        justify-content: center;
        color: black;
        position: relative;
        z-index: 2;
        margin-top: 20px;
        transition: color 0.3s, transform 0.3s;
    }
    h1:hover {
        color: #007bff;
        transform: scale(1.1);
    }
</style>

<h1>VIEW LEAVE</h1>

{% if data %}
<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Email</th>
            <th scope="col">Leave Status</th>  <!-- Corrected typo here -->
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for leave in data %}
        <tr>
            <td>{{ leave.name }}</td>
            <td>{{ leave.employee_id }}</td>
            <td>{{ leave.email }}</td>
            <td>{{ leave.leave_status }}</td>  <!-- Corrected typo here -->
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>
                <div style="display:flex; justify-content:space-around;">
                    <form method="POST" action="{% url 'add_leave'  %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Back">
                    </form>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No data available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3>No Data Available</h3>
{% endif %}
{% endblock content %}
